* {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: 100%;
}

body {
    background-color: rgb(229, 229, 229);
}

#caixaBgRestaruante {
    width: 100%;
    height: 40vh;
    background-color: blue;
    background-image: url('../images/imgMenuRestaurante/bgRestaurante.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#iconeSeta {
    height: 4vh;
    width: 2vw;
    margin-right: auto;
    background-color: ;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/imgsReserva/arrow-left.png');
}


/* #iconeFavorito {
    height: 6vh;
    width: 6vw;
    margin-left: auto;
    background-color: orange;
} */

#areaOpcoes {
    width: 50vw;
    height: 10vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10vh;
}

#nome_status {
    width: 100%;
    height: 35%;
    background-color: ;
    display: flex;
}

#boxLocalizacao {
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    padding-left: 6.8%;
    box-sizing: border-box;
    line-height: 4vh;
    border-bottom: solid gray 0.1vh;
}

#divNome {
    width: 30%;
    height: 100%;
    background: ;
    text-align: center;
    line-height: 4vh;
}

#divStatus {
    margin-left: auto;
    margin-right: 1vw;
    margin-top: 2px;
    border-radius: 50px;
    text-align: center;
    line-height: 3.5vh;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(150, 38, 17);
}

#opcoes {
    width: 100%;
    height: 65%;
    background-color: ;
    display: flex;
    justify-content: space-around;
}

.divOpcao {
    width: 33%;
    height: 100%;
    background-color: ;
    text-align: center;
    line-height: 6vh;
}

.barraVermelha {
    width: 100%;
    height: 10%;
    background-color: rgb(150, 38, 17);
}

#boxFotoMenu {
    width: 50vw;
    height: 60vh;
    background-color: ;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}

#reservarMesa {
    max-width: 35vw;
    background-color: rgb(150, 38, 17);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: -20px;
    line-height: 5vh;
    text-align: center;
    color: white;
    font-size: 3vh;
}

.reservaProg {
    width: 50%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    background-color: ;
}

#tituloNumeroPessoas {
    margin-top: 1vh;
    background-color: ;
    line-height: 5vh;
    font-size: 2vh;
    box-sizing: border-box;
    padding-left: 0.5vw;
    font-family: "Roboto";
    color: rgb(93, 93, 93);
}

#boxNumeroPessoas {
    width: 100%;
    height: 40vh;
    background-color: ;
    margin-top: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.numeroPessoas {
    width: 10vw;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    background-color: white;
    margin-right: 1vw;
}

.areaBoxes {
    width: 100%;
    height: 10vh;
    margin-bottom: 1px;
    background-color: ;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 1vh;
    padding-left: 3vw;
}